accelerate>=1.11.0
codetiming
datasets
flash-attn>=2.4.3
liger-kernel
mathruler
numpy
omegaconf
pandas
peft
pillow
pyarrow>=15.0.0
pylatexenc
qwen-vl-utils
ray[default]
tensordict
torchdata
transformers>=4.54.0
vllm>=0.8.0
wandb
modelscope>=1.33.0
mlflow>=3.8.0
swanlab>=0.7.5
huggingface_hub
openai>=2.14.0
tenacity>=9.1.0
tqdm
psutil
packaging
filelock
PyYAML
einops>=0.8.0
Jinja2